.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #00A859; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-section {
    background: #00A859;
    color: #ffffff;
    padding: 100px 0;
}

.navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    margin-left: 20px;
    font-weight: bold;
    margin-right: 20px;
    padding-right: 20px;
    color: #000000 !important;
}

.navbar-nav .nav-link:hover {
    color: #00A859 !important;
}

.profile-dropdown {
    position: relative;
}

.profile-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.profile-link .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.handle {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
}
.handle:hover {
    color: #00A859;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-item {
    color: #000000;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: #00A859;
    color: #ffffff;
}
.btn-primary {
    margin-right: 10px;
    font-weight: bold;
    background-color: #029e53; 
    border-color: #007d4c;
}
.btn-primary:hover {
    background-color: #007d4c; 
    border-color: #005b37;
}

@media (max-width: 992px) {
    .navbar .profile-dropdown {
        order: 1;
        margin-left: auto;
        margin-right: 10px;
    }

    .navbar .navbar-toggler {
        order: 2;
    }

    .navbar .collapse {
        order: 3;
    }
}